.container-movies {
  background: #072746 ;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  
}
.input-movies {
  max-width: 330px;
  font-size: 1.2rem;
  outline: none;
  background: inherit;
  color: #fff;
  border-radius: 30px;
  border: solid 2px rgb(53 26 79);
  padding: 6px 12px;
  margin-top: 28px;
}
.movies {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
  column-gap: 30px;
  padding: 10px;
  height: 400px;
}
.movie {
  max-width: 100%;
  background-color: #032c55;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  box-shadow: 20px 20px 50px rgb(4, 3, 73);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  margin-bottom: 30px;
}
.movie:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
//   bottom: 0%;
}
.movie:hover .description{
    // bottom: 40%;
    opacity: 1;
}

.movie-img {
  width: 100%;
  height: 70%;
}
.title-movies {
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
}
.imdb {
  background-color: rgb(14, 7, 73);
  color: orange;
  padding: 4px 8px;
  border-radius: 8px;
}

.description {
  width: inherit;
  font-size: 13px;
  color: #333;
  font-weight: 500;
  display: block;
  transition: all 0.3s;
  background-color: #fff;
  opacity: 0;
}
